/* === Reset & General Styles === */
body {
    padding-top: 100px;
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

a {
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    height: auto;
}

h3 {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 1em;
}

/* === Header Styles === */
header {
    background-color: #000;
    color: #fff;
    padding: 1em 0;
    text-align: center;
    position: fixed;       
    width: 100%;           
    top: 0;                
    left: 0;               
    z-index: 1000;         
}

header h1 {
    margin: 0;
    font-size: 1.5em;
    font-weight: normal;
    margin-left: 40px;
}

header a {
    color: white;
    text-decoration: none; 
    margin-right: 40px;
}

header a:hover {
    color: #ff4343; 
    text-decoration: underline; 
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

/* === Section Styles === */
section {
    max-width: 800px;
    padding: 0em;
    margin: auto;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}
section div {
    margin-bottom: 3em;
}

section li {
    max-width: 800px;
    padding: 2px;
}

/* === Footer Styles === */
.footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 1.5em 0;
    position: relative;
    bottom: 0;
    width: 100%;
    border-top: 2px solid #444;
}
