/* === Header Styles === */
header {
    background-color: #000;
    color: #fff;
    padding: 1em 0;
    text-align: center;
    position: fixed;       
    width: 100%;           
    top: 0;                
    left: 0;               
    z-index: 1000;         
}

header h1 {
    margin: 0;
    font-size: 1.5em;
    font-weight: normal;
    margin-left: 40px;
}

header a {
    color: white;
    text-decoration: none; 
    margin-right: 40px;
}

header a:hover {
    color: #ff4343; 
    text-decoration: underline; 
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}


/* === Footer Styles === */
.footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 1.5em 0;
    position: relative;
    bottom: 0;
    width: 100%;
    border-top: 2px solid #444;
}
/* === Insights Block Styles === */
.insight-block {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.insight-block:hover {
    transform: scale(1.02);
}

.insight-block h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.date-posted {
    font-size: 0.9em;
    color: #777;
    margin-bottom: 10px;
}

.description {
    margin-bottom: 15px;
}

.resource-link {
    color: #007BFF;
    margin-bottom: 15px;
    display: block;
}

.keywords {
    margin-top: 10px;
}

.tag {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8em;
    margin-right: 10px;
    display: inline-block;
}

.book {
    background-color: #FFD700;
    color: #000;
}

.academic-paper {
    background-color: #4CAF50;
    color: #fff;
}

.movie {
    background-color: #FF5733;
    color: #fff;
}

.speech-conversation {
    background-color: #007BFF;
    color: #fff;
}
/* === Reset & General Styles === */
body {
    padding-top: 120px;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    background-color: #f9f9f9;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: #007BFF;
    transition: color 0.3s;
}

a:hover {
    color: #0056b3;
}

img {
    max-width: 100%;
    height: auto;
}

h3 {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 1em;
}



/* === Section Styles === */
section {
    max-width: 800px;
    padding: 2em;
    margin: 2em auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h2 {
    border-bottom: 2px solid #e1e1e1;
    padding-bottom: 10px;
    font-size: 1.8em;
    margin-top: 0;
}

section div {
    margin-bottom: 2em;
}

section li {
    padding: 2px;
}

.job-description {
    border-top: 1px solid #e1e1e1;
    padding-top: 1em;
}

.job-description:first-child {
    border-top: none;
    padding-top: 0;
}


/* === Additional Professional Styles === */
strong {
    font-weight: 600;
}

p, li {
    font-size: 1em;
    color: #555;
}

section a {
    border-bottom: 1px dotted #007BFF;
}

section a:hover {
    border-bottom-style: solid;
}

