body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}
section {
    padding: 2em;
    max-width: 800px;
    margin: auto;
}
h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin-bottom: 1em;
}
a {
    text-decoration: none;
    color: #007BFF;
}
a:hover {
    text-decoration: underline;
}
img {
    max-width: 100%;
    height: auto;
}
.profile {
    width: 150px;
    height: auto;
}
.left-float-image {
    float: left;
    margin-right: 20px; /* Adds some space between the image and the text */
    width: 100px; /* Adjust width as needed */
    height: auto; /* Maintains aspect ratio */
}

.image-text-wrapper::after {
    content: "";
    display: table;
    clear: both; /* Clears the float, so elements below this container don't wrap around the image */
}
h3 {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0.5em;
}
section h2 + ul li {
    margin-top: 5em;
}
.toggle-content {
    display: none;
}
button {
    display: block;
    margin: auto;
}